python-iso639>=2024.4.27
pydantic>=2.8.2
pymongo>=4.8.0

openai>=1.37.1
langchain>=0.2.11
langchain-community>=0.2.10
langchain-openai>=0.1.17

common @ git+https://github.com/collectiveai-team/common.git@v1.0.9
